<template name="jptext">
2019年。東京湾上には、超高層ビルが林立する新首都「ネオ東京」が建設されており、その繁栄は爛熟の極に達していたが、反政府デモ隊と警察が衝突し、反政府ゲリラと軍部が暗闘を繰り広げる騒然とした状態が続いていた。いまだ再建されていない「旧市街」でも2020年の東京オリンピック開催[2]を機に再開発工事が進められようとしていた。主人公である訓練校生・金田正太郎率いる暴走族の少年たちは、ネオ東京の外の旧市街へと続く遺棄されたハイウェイに入り込んで疾走していたが、「爆心地」付近で謎の白髪の少年と遭遇する。彼は軍（アーミー）の超能力研究機関から、反政府ゲリラによって連れ出された超能力者タカシ（26号）であった。
<br>
<br>
暴走族メンバー・島鉄雄は、突然現れたタカシを避けきれず彼（正確にはタカシの超能力で作られた障壁）に衝突し、重傷を負ってしまう。鉄雄はタカシと共に軍の研究機関に連れ去られて入院したが、事故をきっかけとして鉄雄の中に超能力が目覚めはじめたことが確認される。退院後、金田の前に戻ってきた鉄雄は、もはや以前のようなおとなしく気の弱い少年ではなく、狂暴な性格に変貌していた。金田は軍によるゲリラの追跡騒ぎの最中に、超能力研究の秘密を追う反政府ゲリラのメンバーである竜とケイの二人と知り合い、一時的にケイと協力して鉄雄の行方を追う。
<br>
<br>
鉄雄は、金田たちとは敵対している暴走族・クラウンに乗り込み、リーダーのジョーカーを屈服させて新たなリーダーに納まり、他の暴走族への攻撃を開始した。金田はクラウンに対して、他の暴走族も糾合して反撃を試みる。ネオ東京の路上を舞台に暴走族同士の大規模な抗争が起こるが、金田たちは鉄雄一人の前に完敗する。鉄雄はかつての暴走族仲間であった山形を惨殺し、以前から劣等感の対象であった金田にも敵意をむき出しにする。そこへ軍の部隊が現れ、ヘリコプターから敷島大佐が降り立つ。大佐は、超能力発現にともなう頭痛に苦しむ鉄雄にある特殊な薬物の提供を呼びかけ、鉄雄を「41号」と呼んで自らの研究に招き入れる。
</template>