body, html {
  margin: 0;
  height: 100%;
}

body {
  max-width: 1500px;
  margin: auto;
  background-color: white;
}

.navbar-toggle {
  margin: 5px !important;
  padding: 7px !important;
}




















