.navbar-primary .navbar { background:rgb(0,0,100); border-bottom:none; }
.navbar-primary .navbar .nav > li > a {color: rgb(255,255,255);}
.navbar-primary .navbar .nav > li > a:hover {color: rgb(254,254,254); background-color: rgb(0,0,200);}
.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {color: rgb(254,254,254); background-color: rgb(0,0,150);}
.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: rgb(254,254,254);border-bottom-color: rgb(254,254,254);}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover {}
.navbar-primary .navbar .nav > li.dropdown.open > a {color: rgb(254,254,254);background-color: rgb(0,0,100);border-color: rgb(254,254,254);}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar .nav > li.dropdown.open > a .caret {border-top-color: rgb(254,254,254);}
.navbar-primary .navbar .navbar-brand {color:rgb(254,254,254);}
.navbar-primary .navbar .nav.pull-right {margin-left: 10px; margin-right: 0;}
.navbar-xs .navbar-primary .navbar { min-height:28px; height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-sm .navbar-primary .navbar { min-height:40px; height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }